In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Carlsbad,US,2022-03-07 00:52:01,33.1581,-117.3506,61.86,63,0,8.05
1,1,Carutapera,BR,2022-03-07 00:55:20,-1.1950,-46.0200,73.76,96,100,5.88
2,2,Atuona,PF,2022-03-07 00:55:20,-9.8000,-139.0333,78.84,76,27,11.72
3,3,New Norfolk,AU,2022-03-07 00:51:34,-42.7826,147.0587,64.92,37,83,3.18
4,4,Busselton,AU,2022-03-07 00:55:21,-33.6500,115.3333,73.04,63,1,15.95

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Atuona,PF,2022-03-07 00:55:20,-9.8000,-139.0333,78.84,76,27,11.72
5,5,Hambantota,LK,2022-03-07 00:55:21,6.1241,81.1185,75.54,100,20,1.14
10,10,Kavieng,PG,2022-03-07 00:55:22,-2.5744,150.7967,83.44,71,95,4.88
12,12,Georgetown,MY,2022-03-07 00:51:36,5.4112,100.3354,78.73,99,20,3.44
16,16,Hithadhoo,MV,2022-03-07 00:55:24,-0.6000,73.0833,82.17,67,12,7.58
20,20,Rikitea,PF,2022-03-07 00:55:25,-23.1203,-134.9692,79.34,78,100,18.50
24,24,Teahupoo,PF,2022-03-07 00:55:25,-17.8333,-149.2667,80.56,75,65,14.43
27,27,Port Elizabeth,ZA,2022-03-07 00:55:26,-33.9180,25.5701,75.09,88,0,0.00
29,29,Arraial Do Cabo,BR,2022-03-07 00:55:27,-22.9661,-42.0278,78.66,78,0,16.11
31,31,Hilo,US,2022-03-07 00:55:07,19.7297,-155.0900,79.25,83,41,4.00

In [19]:
preferred_cities_df.count()

City_ID       151
City          151
Country       151
Date          151
Lat           151
Lng           151
Max Temp      151
Humidity      151
Cloudiness    151
Wind Speed    151
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2            Atuona      PF     78.84  -9.8000 -139.0333
5        Hambantota      LK     75.54   6.1241   81.1185
10          Kavieng      PG     83.44  -2.5744  150.7967
12       Georgetown      MY     78.73   5.4112  100.3354
16        Hithadhoo      MV     82.17  -0.6000   73.0833
20          Rikitea      PF     79.34 -23.1203 -134.9692
24         Teahupoo      PF     80.56 -17.8333 -149.2667
27   Port Elizabeth      ZA     75.09 -33.9180   25.5701
29  Arraial Do Cabo      BR     78.66 -22.9661  -42.0278
31             Hilo      US     79.25  19.7297 -155.0900

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [23]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Atuona,PF,78.84,-9.8000,-139.0333,Villa Enata
5,Hambantota,LK,75.54,6.1241,81.1185,Bungalow 63
10,Kavieng,PG,83.44,-2.5744,150.7967,Nusa Island Retreat
12,Georgetown,MY,78.73,5.4112,100.3354,Cititel Penang
16,Hithadhoo,MV,82.17,-0.6000,73.0833,Scoop Guest House
20,Rikitea,PF,79.34,-23.1203,-134.9692,People ThankYou
24,Teahupoo,PF,80.56,-17.8333,-149.2667,Vanira Lodge
27,Port Elizabeth,ZA,75.09,-33.9180,25.5701,39 On Nile Guest House
29,Arraial Do Cabo,BR,78.66,-22.9661,-42.0278,Pousada Porto Praia
31,Hilo,US,79.25,19.7297,-155.0900,Hilo Hawaiian Hotel

In [27]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))